<template>
  <rune-graph :data="graphData" layout="data" :height="300" />
</template>

<script>
import RuneGraph from '../../../../src/components/RuneGraph/RuneGraph.vue';

export default {
  components: { RuneGraph },
  data() {
    return {
      graphData: {
        nodes: [
          {
            id: 'node-0',
            type: 'basic/input-number',
            pos: [150, 75]
          },
          {
            id: 'node-1',
            type: 'basic/input-boolean',
            shape: this.$rune.shapes.ROUND_SHAPE,
            pos: [450, 75]
          },
          {
            id: 'node-2',
            type: 'basic/input-string',
            shape: this.$rune.shapes.CARD_SHAPE,
            pos: [150, 225]
          },
          {
            id: 'node-3',
            type: 'basic/output',
            shape: this.$rune.shapes.POINT_SHAPE,
            pos: [450, 225],
            point_size: 40
          }
        ],
        edges: []
      }
    };
  }
}
</script>
