<template>
  <rune-graph :data="graphData" :graph-options="graphOptions" />
</template>

<script>
import RuneGraph from '../../../../src/components/RuneGraph/RuneGraph.vue';

export default {
  components: { RuneGraph },
  data() {
    return {
      graphData: {
        nodes: [
          { id: 'node-0', type: 'basic/input-number' },
          { id: 'node-1', type: 'basic/output' }
        ],
        edges: [ { source: 'node-0', target: 'node-1' } ]
      },
      graphOptions: {
        color_mode: 'dark'
      }
    };
  }
}
</script>
