<template>
  <rune-graph :data="graphData" :graph-options="graphOptions" />
</template>

<script>
import RuneGraph from '../../../../src/components/RuneGraph/RuneGraph.vue';

const GRAPH_DEFAULT_OPTIONS = {
  background_image: "",
  show_info: false,
  text_size: 12,
  font_family: "Arial",
  render_shadows_if_collapsed: false,
  highlighted_link_color: `#c0bebb`,
  // render_collapsed_slots: false,
  render_connections_border: false,
  render_canvas_border: false,
  // show_contextual_menu: false,
  round_radius: 3
};

export default {
  components: { RuneGraph },
  data() {
    return {
      graphOptions: GRAPH_DEFAULT_OPTIONS,
      graphData: {
        nodes: [
          {
            id: 'node-0',
            type: 'basic/input-number',
            pos: [50, 100]
          },
          {
            id: 'node-1',
            type: 'basic/output',
            pos: [500, 100]
          }
        ],
        edges: [
          { source: 'node-0', target: 'node-1' }
        ]
      }
    };
  }
}
</script>
