<template>
  <rune-graph
    :data="graphData"
    :height="250"
    :layout-options="layoutOptions"
    bordered
    collapsed
  />
</template>

<script>
import RuneGraph from '../../../../src/components/RuneGraph/RuneGraph.vue';

export default {
  components: { RuneGraph },
  data() {
    return {
      graphData: {
        nodes: [
          { id: 'node-0', type: 'basic/input-number' },
          { id: 'node-1', type: 'basic/input-number', properties: { value: 2.0 } },
          { id: 'node-2', type: 'basic/math-operation' },
          { id: 'node-3', type: 'basic/output' }
        ],
        edges: [
          { source: 'node-0', target: 'node-2' },
          { source: 'node-1', target: 'node-2', target_port: 1 },
          { source: 'node-2', target: 'node-3' },
        ]
      },
      layoutOptions: {
        ranksep: 40,
        nodesep: 80
      }
    };
  }
}
</script>
