<template>
  <rune-graph :data="graphData" :tags="tags" />
</template>

<script>
import RuneGraph from '../../../../src/components/RuneGraph/RuneGraph.vue';

export default {
  components: { RuneGraph },
  data() {
    return {
      tags: [
        { name: 'custom', context: {} },
      ],
      graphData: {
        nodes: [
          { id: 'node-0', type: 'custom/affine-function' }
        ],
        edges: []
      }
    };
  }
}
</script>
