<template>
  <rune-graph
    :data="graphData"
    :graph-options="graphOptions"
    :contextual-buttons="contextualButtons"
  />
</template>

<script>
import RuneGraph from '../../../../src/components/RuneGraph/RuneGraph.vue';

export default {
  components: { RuneGraph },
  data() {
    return {
      graphData: {
        nodes: [
          { id: 'node-0', type: 'basic/input-number' },
          { id: 'node-1', type: 'basic/output' }
        ],
        edges: [ { source: 'node-0', target: 'node-1' } ]
      },
      graphOptions: {
        allow_dragcanvas: false,
        show_contextual_menu: false
      },
      contextualButtons: [
        {
          position: 'top',
          content: '?',
          event: 'get-info'
        },
        {
          position: 'bottom',
          content: 'X',
          callback: (_this, node) => {
            _this.removeNode(node);
          }
        }
      ]
    };
  }
}
</script>
