<template>
  <div
    class="rune-graph-contextual-button"
    :style="style"
    @click="$emit('click')"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "RuneGraphContextualButton",
  props: {
    position: { type: Array, required: true },
    size: { type: Number, default: 20 }
  },
  computed: {
    style() {
      return {
        width: `${this.size}px`,
        height: `${this.size}px`,
        left: `${this.position[0] - this.size * 0.5}px`,
        top: `${this.position[1] - this.size * 0.5}px`
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.rune-graph-contextual-button {
  position: absolute;
  border-radius: 50%;
  background-color: #efefef;
  color: #777777;
  display: grid;
  place-items: center;
  font-size: 12px;
  cursor: pointer;
}

.rune-graph-contextual-button:hover {
  background-color: #f2f2f2;
}
</style>
